.mainDiv{
	position:absolute;
	border:0px solid red;
	height:101%;
	width:101%;
	margin:-10px;
	text-align:center;
	background: black;
	background: url(../Images/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;


}
.innerMain{
	position:absolute;
	height:100%;
	width:100%;
	background-color:black;
	opacity:0.6;

}
.visibleMain{
	position:absolute;
	height:100%;
	width:100%;
	margin-top:-100%;
	margin:auto;
	text-align:center;
}
.containerDiv{
	height:400px;
	width:800px;
	border:0px solid white;
	margin:auto;
	margin-top:15%;
}
#buttonsContainer{
	height:auto;
	width:600px;
	border:0px solid blue;
	margin:auto;
	margin-top:30%;
}
.myButton{
	height:50px;
	width:150px;
	font-size:14pt;
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   background:black;
   border:1px solid white;
   border-radius: 8px;
   color:white;
}
.myButton:hover{
		background:white;
		color:black;
		cursor:pointer;
	}
#NameContainer{
	margin:auto;
	height:auto;
	width:350px;
	padding:20px;
	border:1px solid white;
	border-radius: 10px;
	font-family: "Helvetica neue";
	font-size:40pt;
	font-Weight:200;
	color: white;
	text-decoration:none;
	background:black;
}
#welcome:hover{
	opacity:0.8;
}